@tailwind base;
@tailwind components;
@tailwind utilities;


.a1{
    width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100";
  }
  .a2{
    width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100";
  }
  .a3{
    width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100";
  }
  .a4{
   width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100";
  }
  .a5{
    width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100";
  }
  .a6{
    width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100";
  }
  .a7{
    width: 25rem;
  }
  .toggled{
  overflow: visible;
  width: 6.5rem!important;
  }
  .toggled1{
    width: 0!important;
    overflow: hidden;
  }

  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: start;
    white-space: nowrap;
    display: flex     ;
}
.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 70px !important;
    width: 23px !important;
}
/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* width of the vertical scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #099d6e; /* color of the thumb (scrollbar handle) */
  border-radius: 4px; /* rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* color of the track (background behind the thumb) */
  border-radius: 4px; /* rounded corners for the track */
}
@media (max-width: 768px) {
  .responsive{
    font-size: 13px;
  }
  .responsive1{
    display: flex;
  }
  .condition__wrap{
    flex-wrap: nowrap;
  }
  .condition__wrap1{
    margin: 0;
  }
  .image__responsive{
    height: 90px;
  }
  .swap__car{
    margin: 0;
    padding: 0;
    right: 0;
  }
}
@media (max-width: 320px) {
  .responsive{
    font-size: 11px;
  }
  .responsive1{
    display: flex;
  }
  .condition__wrap{
    flex-wrap: nowrap;
  }
  .condition__wrap1{
    margin: 0;
  }
  .image__responsive{
    height: 90px;
  }
  .swap__car{
    margin: 0;
    padding: 0;
    right: 0;
  }
}